@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic,latin-ext);

body {
    font-family: 'Ubuntu', sans-serif !important;
}

#nav-menu {
    z-index: 999;
    width: 100%;
}

.top-bar {
    padding: 15px 0;
    font-size: 12px;
    color: #444444;
    border-bottom: 2px solid #DDDDDD;
}
.top-contact {

}
.top-contact i {
    float: left;
    margin: 0px 10px 0 0;
    display: block;
    font-size: 16px;
}
.top-contact a {
    padding: 0 0 3px 0;
    color: #444444;
}
.top-contact a:hover {
    color: #444444 !important;
    text-decoration: none;
    border-bottom: 1px dashed #EEEEEE;
}
.header {
    margin: 0 0 30px 0;
    padding: 15px 0 0 0;
}
.header-inn {
    position: relative;
    padding: 15px 0;
}
.header-logo {
    height: 120px;
}
.header-cart {
    padding: 15px 15px;
    display: block;
    color: #000000;		
    background: #FFFFFF;
    border-left: 1px solid #DDDDDD;
}
.header-cart > i {
    margin: 0 15px 0 0;
    position: relative;
    font-size: 22px;
    color: #CC3333;
}
.header-cart > p {
    margin: 0;
}
.header-quest {
    padding: 10px 15px;
    display: block;
    border: 2px solid #ff6600;
    color: #000000;		
    text-align: center;		
}
.header-quest > i {
    position: relative;
    font-size: 30px;
    color: #CC3333;
}
.header-quest > p {
    margin: 0;
}
.header-item {
    margin: 20px 0 0 0;
}
.header-item-ico {
    float: left;
    font-size: 50px;
    color: #fbb117;
}
.header-item-text {
    float: left;
    margin: 0 0 0 15px;
    color: #444444;
}	
.header-item-text > p {
    margin: 15px 0 5px 0;
    font-size: 12px;
}
.header-item-text > strong {
    font-size: 15px;
}
.header-item-phone {
    margin: 20px 0 0 0;
    color: #444444;
    text-align: right;
}
.header-item-phone > p {
    margin: 15px 0 0 0;
    font-size: 12px;
}
.header-item-phone > a {
    color: #444444;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px dashed #444444;
}
.header-item-phone > a:hover {
    color: #fbb117;
    text-decoration: none;
    border-bottom: 1px dashed #fbb117;
}

.menu {
    margin: 15px 0 0 0;
    background: #FFFFFF;
    color: #444444;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.menu .container ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: none;
    display: table;
}

.menu .container  ul > li {
    display: inline-block;
    padding: 0;
}
.menu .container  ul > li > a {
    display: block;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    color: #444444;
}
.menu .container  ul > li > a:hover {
    background: #EEEEEE;
    color: #444444 !important;
    text-decoration: none;
}
.menu .container  ul > li > a > i {

    margin: 0 10px 0 0;
    color: #FFFFFF;
}
.menu .container  ul > li > a > span {	
    padding: 12px 0;

}
.menu-cart {
    
}
.menu-cart i {
    float: left;
}
.slideshow {
    margin-bottom: 15px;
    min-height: 400px;
}
.slideshow-item {
    margin: 0;
    display: block;
    width: 100%;
    height: 333px;
    text-align: center;
    overflow: hidden;
}
.slideshow-item img {
    margin-left: -20px;
    width: 100%;
}
.slideshow-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slideshow-menu > li {
    margin: 20px 0;
    display: block;
}
.slideshow-menu > li > a {
    display: block;
    padding: 15px 15px;
    background: url(../images/menu_patt.png) repeat;
    color: #FFFFFF;
    border-right: 4px solid #CC3333;
}
.slideshow-menu > li > a > i {
    margin: 0 15px 0 0;
}
.slideshow-menu > li > a:hover {
    background: #444444;
    color: #FFFFFF;
    text-decoration: none;
    transition: .1s all;
}
.slider-search {
    display: block;
    margin: 0px -15px;
    padding: 10px 0;
    background: #CC3333;
}
.slider-search select {
    display: inline-block;
    width: 85%;
    border: 0;
    padding: 5px 10px;
    color: #000000;
    background: #444444;
}
.slider-search input:focus {
    outline: 0;
}
.slider-search button {
    width: 12%;
    padding: 5px 0;
    display: inline-block;
    background: #CC3333;
    color: #FFFFFF;
    border: 0;
}
.inn-text {
    margin: 15px 0 0 0;
    padding: 15px;
    background: url(../images/menu_patt.png) repeat;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}
.product-item {
    margin: 0 0 15px 0;
    padding: 15px 10px ;
}
.product-item:hover {
    color: #000000;
    text-decoration: none;
}
.product-item:hover .add-to-cart {
    display: block;
    transition: .1s all;
}
.product-item-inn {
    text-align: center;
    height: 160px !important;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
.banner-2 {
    padding: 0 !important;
    margin: 0;
    height: 333px;
}
.banner-2 img {
    height: 333px;
    border: 1px solid #CC3333;
}
.slider .search-home {
    padding-right: 0 !important;
}
.cat-go {
    color: #CC3333;
    padding: 0 0 2px 0;
    border-bottom: 1px dashed #CC3333;
}
.cat-go:hover {
    text-decoration: none;
    color: #000000;
}
.search-home select {
    margin: 5px 0 5px 0;
    display: block;
    width: 100%;
    padding: 8px 5px;
    border: 2px solid #DDDDDD;
    color: #444444;
    cursor: pointer;
}
.search-home button {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 8px 15px;
    background: #CC3333;
    color: #FFFFFF;
    border: 2px solid #CC3333;
}
.search-home button i {
    margin: 0 15px 0 0;
}
.title-1 {
    padding: 0 0 0 15px;
    border-left: 4px solid #CC3333;
}
.auto-select {
    padding: 15px 10px 15px 20px;
    background: #EEEEEE;
    border: 2px solid #CC3333;
}
.auto-select a {
    padding: 5px;
    background: #FFFFFF;
    margin: 1% 1%;
    display: inline-block;
    width: 22%;
    text-align: center;
    border: 1px solid #DDDDDD;
    color: #CC3333;
    font-size: 16px;
}
.auto-select img {
    margin: 5px auto;
    display: block;
}
.auto-select .btn {
    margin: 15px auto 7px auto;
    width: 250px;
}

/* Home Tabs */
.tabs-home {
    margin: 30px 0;
    padding: 15px 0;
    background: url(../images/slide_patt.png) repeat;
}
.tabs-home-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.tabs-home-menu > li {
    display: block;
    margin: 15px 0;
}
.tabs-home-menu > li > a {
    display: block;
    padding: 10px 15px;
    background: url(../images/menu_patt.png) repeat;
    color: #FFFFFF;
}
.tabs-home-menu .active {
    border-right: 20px solid #CC3333;
    transition: .1s all;
}
.tabs-home-inn {	
    margin: 15px 0 0 0;
    padding: 15px;
    min-height: 205px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
}
.tabs-home-inn h4 {
    margin: 0 0 15px 0;
}

/* Home News */
.news-home {
    padding: 15px 0;
    border-top: 2px solid #EEEEEE;
}
.news-item {
    margin: 15px 0;
}
.news-item-inn {
    border: 2px solid #EEEEEE;
}
.news-item time {
    float: left;
    margin: 15px 15px 0 15px;
    padding: 0 5px;
    background: #CC3333;
    color: #FFFFFF;
}
.news-item a {
    padding: 15px;
    display: block;
    color: #000000;
}
/* Home Socials */
.socials-home {
    margin: 30px 0 0 0;
    border-top: 2px solid #EEEEEE;
    padding: 15px 0;
    background: url(../images/slide_patt.png) repeat;

}	
.go-social-link {
    margin: 30px 0 0 0;
    display: inline-block;
    padding: 10px 15px;
    background: #CC3333;
    color: #FFFFFF;
}
.go-social-link:hover {
    background: #3366cc;
    color: #FFFFFF;
    text-decoration: none;
}
.socials-home iframe {
    display: block;
    outline: 4px solid #CC3333;
}


/* Product Item */

.product-item-inn {
    text-align: center;
    height: 160px;
    border-radius: 5px;
}
.product-item-img {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 15px 0;
    text-align: center;
    overflow: hidden;
}
.product-item-img img {
    height: 120px;
}

.product-item h4 {
    font-size: 12px;
    color: #000000;
}
.product-item-price {
    color: #CC3333;
}


.product-item-inn:hover {
    border-color: #CC3333;
}

.hot-home {
    padding: 30px 0 60px 0;
}


.categories {
    
}
.categories ul {
    margin: 0 0 60px 0;
    padding: 0;
    list-style-type: none;
}
.categories ul li {
    display: block;
    
}   
.categories ul li a {
    display: block;
    padding: 5px 0;
    color: #CC3333;
    border-bottom: 1px solid #DDDDDD;
}
























.footer {
    padding: 15px 0;
    background: url(../images/menu_patt.png) repeat;
    color: #FFFFFF;
}		



.category-desc {
    
}
.category-desc h2 {
    margin: 0 0 30px 0;
}

/* CATEGORY */
.category-options {
    padding: 15px 0;
    border-bottom: 2px solid #dfe3e8;
    font-size: 12px;
}
.category-sort {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.category-sort > li {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}
.category-sort > li > a {
    display: block;
    padding: 0 5px;
}
.category-sort > li > a:hover, 
.category-sort > li > a.active {
    background: #0066cc;
    color: #ffffff !important;
    text-decoration: none;
}

.category-desc {
    
}
.category-desc > h2 {
    font-size: 24px;
}
.category-desc > p {
    font-size: 12px;
    text-align: justify;
}

/* PRODUCT-ITEM */
.product-item {
    margin: 15px 0;
    text-align: center;
}
.product-item-inn {
    position: relative;
    padding: 15px;
}
.product-item img {
    height: 200px;
}
.product-bottom {
    height: 80px;
}
.product-item strong {
    font-size: 16px;
    display: block;
    margin: 15px 0;
}
.product-price {
    margin: 15px 0 25px 0;
    font-size: 14px;
}
.product-panel {
    position: absolute;
    bottom: 0;
    left: 0px;
    margin: 15px 0px 0 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    color: #444444;
    -webkit-transition: height .3s; /* For Safari 3.1 to 6.0 */
    transition: height .3s;
    z-index: 99;
}

.product-item:hover .product-panel {
    height: 35px;
}
.product-item:hover .product-item-inn {
    
}
.product-panel input, .product-panel button {
    margin: 5px auto 0 auto;
    padding: 0 5px !important;
    display: block;
    width: 80%;
    height: 30px;
    text-align: center;
}
.product-panel button {
    border: 0;
    background: #0066cc;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.product-prop {
    position: absolute;
    left: -1px;
    width: 100px;
}
.product-new, .product-promo {
    margin: 5px 0 0 0;
    padding: 0 15px;
    width: 100%;
    color: #ffffff;
    opacity: .8;
    text-align: left;
}
.product-new {
    background: #0066cc;
    
}
.product-promo {
    background: #cc3333;
}
.product-item-inn i {
    display: inline-block;
    width: 18px;
    text-align: center;
    color: #ffffff;
}


.filter-inn .slider.slider-horizontal {
    margin-left: 15px;
    width: calc(100% - 30px);
}
.filter-item {
    margin: 0 0 60px 0;
}

#product-filter-wrap .filter-value-wrap .select2-selection__rendered li {
    display: none;
}

#product-filter-wrap .filter-value-wrap .select2-selection__rendered li:first-of-type {
    display: block;
}


.product-item-inn img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.select2-dropdown .select2-dropdown--below {
    width: 350px !important;
}


.prod-table {
    
}
.prod-table tr td {
    vertical-align: middle !important;
}
.prod-table td a {
    padding: 5px 0;
    color: #CC3333;
    font-size: 14px;
    text-transform: uppercase;
}
.prod-thumb {
    margin: 0 15px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}
.prod-thumb img {
    height: 40px;
    border-radius: 5px;
}
.prod-table .btn {
    padding: 5px 15px;
    color: #FFF !important;
    font-size: 12px;
}